<a href="https://colab.research.google.com/github/tady0725/machine_lr/blob/master/Polynomial_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/mL/sun/train.csv")
data.head(10)

,ID,Date,Temp_m,Generation,Irradiance,Capacity,Lat,Lon,Angle,Irradiance_m,Temp,Module
0,1,2020/6/9,NaN,630,8.37,499.8,25.11,121.26,22.0,2325,26.3,MM60-6RT-300
1,2,2020/6/10,NaN,2246,17.11,499.8,25.11,121.26,22.0,4753,27.9,MM60-6RT-300
2,3,2020/6/11,NaN,1147,12.26,499.8,25.11,121.26,22.0,3406,28.0,MM60-6RT-300
3,4,2020/6/12,NaN,2946,21.51,499.8,25.11,121.26,22.0,5975,28.6,MM60-6RT-300
4,5,2020/6/13,NaN,3139,23.18,499.8,25.11,121.26,22.0,6439,29.1,MM60-6RT-300
5,6,2020/6/14,NaN,2618,18.57,499.8,25.11,121.26,22.0,5158,28.3,MM60-6RT-300
6,7,2020/6/15,NaN,3093,27.04,499.8,25.11,121.26,22.0,7511,29.0,MM60-6RT-300
7,8,2020/6/16,NaN,3256,28.65,499.8,25.11,121.26,22.0,7958,29.3,MM60-6RT-300
8,9,2020/6/17,NaN,3280,28.63,499.8,25.11,121.26,22.0,7953,29.2,MM60-6RT-300
9,10,2020/6/18,NaN,3238,28.60,499.8,25.11,121.26,22.0,7944,29.4,MM60-6RT-300

In [ ]:

lt=data['Lat'].unique()
ln=data['Lon'].unique()
print(lt)
print(ln)
copydata = data.copy()

copydata.drop(copydata.index,inplace=True)
from numpy.ma.core import count
import time
for i in lt:
  for k in ln:
    codition1=((data['Lat']==i))
    codition2=((data['Lon']==k))
    data1=data[(codition1) & (codition2)]
    n=list(data1.shape)
    print(n[0])
    print("共有",sum(data1['Temp_m'].isnull()))
    

    print(i,k)
    # print(data1.describe())
    s=data1['Temp_m'].count()
    a=data1['Temp_m'].mean()
    print(s,a)


    if(n[0]==0):
      continue
    if(s==0):
      data1['Temp_m'].fillna(value=40, inplace=True)
    else:
      data1['Temp_m'].fillna(data1['Temp_m'].mean(),inplace=True)

    copydata = pd.concat([copydata, data1], ignore_index=True)
    print("合併df來新增資料")
    print(copydata)
    # time.sleep(10)

s=copydata['Module'].unique()

print(s)

for index,n in enumerate(s):
  print(index,n)
  copydata['Module'].replace(n,index,inplace=True)

# Irradiance isnull insert maen()
copydata['Irradiance'].fillna(copydata['Irradiance'].mean(),inplace=True)
copydata['Temp'].fillna(method='ffill',inplace=True)

[25.11  24.107 24.08  24.98  25.03  24.04  24.09  24.07  24.06 ]
[121.26 120.44 120.5  121.03 121.08 120.52 120.48 120.47]
826
共有 826
25.11 121.26
0 nan
合併df來新增資料
       ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0       1    2020/6/9    40.0         630        8.37     499.8  25.11
1       2   2020/6/10    40.0        2246       17.11     499.8  25.11
2       3   2020/6/11    40.0        1147       12.26     499.8  25.11
3       4   2020/6/12    40.0        2946       21.51     499.8  25.11
4       5   2020/6/13    40.0        3139       23.18     499.8  25.11
..    ...         ...     ...         ...         ...       ...    ...
821  3544  2021/10/26    40.0        1349       14.35     438.3  25.11
822  3557  2021/10/27    40.0        1407       18.14     499.8  25.11
823  3558  2021/10/27    40.0        1160       18.14     438.3  25.11
824  3571  2021/10/28    40.0        1955       17.95     499.8  25.11
825  3572  2021/10/28    40.0        1636       17.95     438.3  25.11

        Lon  Angle  Irradiance_m  Temp        Module
0    121.26   22.0          2325  26.3  MM60-6RT-300
1    121.26   22.0          4753  27.9  MM60-6RT-300
2    121.26   22.0          3406  28.0  MM60-6RT-300
3    121.26   22.0          5975  28.6  MM60-6RT-300
4    121.26   22.0          6439  29.1  MM60-6RT-300
..      ...    ...           ...   ...           ...
821  121.26 -160.0          3986  23.9  MM60-6RT-300
822  121.26   22.0          5039  23.6  MM60-6RT-300
823  121.26 -160.0          5039  23.6  MM60-6RT-300
824  121.26   22.0          4986  22.3  MM60-6RT-300
825  121.26 -160.0          4986  22.3  MM60-6RT-300

[826 rows x 12 columns]
0
共有 0
25.11 120.44
0 nan
0
共有 0
25.11 120.5
0 nan
0
共有 0
25.11 121.03
0 nan
0
共有 0
25.11 121.08
0 nan
0
共有 0
25.11 120.52
0 nan
0
共有 0
25.11 120.48
0 nan
0
共有 0
25.11 120.47
0 nan
0
共有 0
24.107 121.26
0 nan
788
共有 0
24.107 120.44
788 38.99086294416243
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity     Lat  \
0        1    2020/6/9    40.0         630        8.37     499.8  25.110
1        2   2020/6/10    40.0        2246       17.11     499.8  25.110
2        3   2020/6/11    40.0        1147       12.26     499.8  25.110
3        4   2020/6/12    40.0        2946       21.51     499.8  25.110
4        5   2020/6/13    40.0        3139       23.18     499.8  25.110
...    ...         ...     ...         ...         ...       ...     ...
1609  3548  2021/10/26    45.9         958       17.00     246.4  24.107
1610  3561  2021/10/27    40.8        2325       19.79     492.8  24.107
1611  3562  2021/10/27    40.8        1176       19.79     246.4  24.107
1612  3575  2021/10/28    39.5        2227       18.73     492.8  24.107
1613  3576  2021/10/28    39.5        1127       18.73     246.4  24.107

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26  22.00          2325  26.3       MM60-6RT-300
1     121.26  22.00          4753  27.9       MM60-6RT-300
2     121.26  22.00          3406  28.0       MM60-6RT-300
3     121.26  22.00          5975  28.6       MM60-6RT-300
4     121.26  22.00          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
1609  120.44   4.63        223550  25.3  AUO PM060MW3 320W
1610  120.44   4.63         68917  25.1  AUO PM060MW3 320W
1611  120.44   4.63        275675  25.1  AUO PM060MW3 320W
1612  120.44   4.63        114992  24.6  AUO PM060MW3 320W
1613  120.44   4.63        263825  24.6  AUO PM060MW3 320W

[1614 rows x 12 columns]
0
共有 0
24.107 120.5
0 nan
0
共有 0
24.107 121.03
0 nan
0
共有 0
24.107 121.08
0 nan
0
共有 0
24.107 120.52
0 nan
0
共有 0
24.107 120.48
0 nan
0
共有 0
24.107 120.47
0 nan
0
共有 0
24.08 121.26
0 nan
0
共有 0
24.08 120.44
0 nan
392
共有 0
24.08 120.5
392 41.86352040816325
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37     499.8  25.11
1        2   2020/6/10    40.0        2246       17.11     499.8  25.11
2        3   2020/6/11    40.0        1147       12.26     499.8  25.11
3        4   2020/6/12    40.0        2946       21.51     499.8  25.11
4        5   2020/6/13    40.0        3139       23.18     499.8  25.11
...    ...         ...     ...         ...         ...       ...    ...
2001  3524  2021/10/24    26.4         266       10.72      99.2  24.08
2002  3539  2021/10/25    42.2         451       19.95      99.2  24.08
2003  3554  2021/10/26    48.9         379       17.00      99.2  24.08
2004  3567  2021/10/27    44.9         437       19.79      99.2  24.08
2005  3581  2021/10/28    43.7         423       18.73      99.2  24.08

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26  22.00          2325  26.3       MM60-6RT-300
1     121.26  22.00          4753  27.9       MM60-6RT-300
2     121.26  22.00          3406  28.0       MM60-6RT-300
3     121.26  22.00          5975  28.6       MM60-6RT-300
4     121.26  22.00          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
2001  120.50   1.76        149000  23.2  AUO PM060MW3 320W
2002  120.50   1.76        331083  24.7  AUO PM060MW3 320W
2003  120.50   1.76        284783  26.9  AUO PM060MW3 320W
2004  120.50   1.76        275667  25.4  AUO PM060MW3 320W
2005  120.50   1.76        459967  25.0  AUO PM060MW3 320W

[2006 rows x 12 columns]
0
共有 0
24.08 121.03
0 nan
0
共有 0
24.08 121.08
0 nan
180
共有 0
24.08 120.52
180 39.05888888888889
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37    499.80  25.11
1        2   2020/6/10    40.0        2246       17.11    499.80  25.11
2        3   2020/6/11    40.0        1147       12.26    499.80  25.11
3        4   2020/6/12    40.0        2946       21.51    499.80  25.11
4        5   2020/6/13    40.0        3139       23.18    499.80  25.11
...    ...         ...     ...         ...         ...       ...    ...
2181  3553  2021/10/26    48.7        1341       17.00    343.20  24.08
2182  3563  2021/10/27    31.1        1067       19.79    267.52  24.08
2183  3568  2021/10/27    46.0        1651       19.79    343.20  24.08
2184  3577  2021/10/28    30.5        1011       18.73    267.52  24.08
2185  3582  2021/10/28    44.4        1496       18.73    343.20  24.08

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26  22.00          2325  26.3       MM60-6RT-300
1     121.26  22.00          4753  27.9       MM60-6RT-300
2     121.26  22.00          3406  28.0       MM60-6RT-300
3     121.26  22.00          5975  28.6       MM60-6RT-300
4     121.26  22.00          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
2181  120.52  -2.62         51700  26.9  AUO PM060MW3 325W
2182  120.52  -2.13        121250  25.4  AUO PM060MW3 320W
2183  120.52  -2.62         65883  25.4  AUO PM060MW3 325W
2184  120.52  -2.13        207267  25.0  AUO PM060MW3 320W
2185  120.52  -2.62        107142  25.0  AUO PM060MW3 325W

[2186 rows x 12 columns]
0
共有 0
24.08 120.48
0 nan
0
共有 0
24.08 120.47
0 nan
0
共有 0
24.98 121.26
0 nan
0
共有 0
24.98 120.44
0 nan
0
共有 0
24.98 120.5
0 nan
316
共有 316
24.98 121.03
0 nan
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37     499.8  25.11
1        2   2020/6/10    40.0        2246       17.11     499.8  25.11
2        3   2020/6/11    40.0        1147       12.26     499.8  25.11
3        4   2020/6/12    40.0        2946       21.51     499.8  25.11
4        5   2020/6/13    40.0        3139       23.18     499.8  25.11
...    ...         ...     ...         ...         ...       ...    ...
2497  3517  2021/10/24    40.0         234        3.69     283.2  24.98
2498  3531  2021/10/25    40.0         417        9.06     283.2  24.98
2499  3545  2021/10/26    40.0        1108       17.40     283.2  24.98
2500  3559  2021/10/27    40.0        1149       20.12     283.2  24.98
2501  3573  2021/10/28    40.0        1210       20.48     283.2  24.98

         Lon  Angle  Irradiance_m  Temp          Module
0     121.26   22.0          2325  26.3    MM60-6RT-300
1     121.26   22.0          4753  27.9    MM60-6RT-300
2     121.26   22.0          3406  28.0    MM60-6RT-300
3     121.26   22.0          5975  28.6    MM60-6RT-300
4     121.26   22.0          6439  29.1    MM60-6RT-300
...      ...    ...           ...   ...             ...
2497  121.03  -31.0          1025  19.9  SEC-6M-60A-295
2498  121.03  -31.0          2517  21.6  SEC-6M-60A-295
2499  121.03  -31.0          4833  23.9  SEC-6M-60A-295
2500  121.03  -31.0          5589  23.6  SEC-6M-60A-295
2501  121.03  -31.0          5689  22.7  SEC-6M-60A-295

[2502 rows x 12 columns]
0
共有 0
24.98 121.08
0 nan
0
共有 0
24.98 120.52
0 nan
0
共有 0
24.98 120.48
0 nan
0
共有 0
24.98 120.47
0 nan
0
共有 0
25.03 121.26
0 nan
0
共有 0
25.03 120.44
0 nan
0
共有 0
25.03 120.5
0 nan
0
共有 0
25.03 121.03
0 nan
316
共有 316

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

25.03 121.08
0 nan
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37     499.8  25.11
1        2   2020/6/10    40.0        2246       17.11     499.8  25.11
2        3   2020/6/11    40.0        1147       12.26     499.8  25.11
3        4   2020/6/12    40.0        2946       21.51     499.8  25.11
4        5   2020/6/13    40.0        3139       23.18     499.8  25.11
...    ...         ...     ...         ...         ...       ...    ...
2813  3518  2021/10/24    40.0         323        3.69     498.6  25.03
2814  3532  2021/10/25    40.0         454        9.06     498.6  25.03
2815  3546  2021/10/26    40.0        1846       17.40     498.6  25.03
2816  3560  2021/10/27    40.0        2032       20.12     498.6  25.03
2817  3574  2021/10/28    40.0        2092       20.48     498.6  25.03

         Lon  Angle  Irradiance_m  Temp        Module
0     121.26   22.0          2325  26.3  MM60-6RT-300
1     121.26   22.0          4753  27.9  MM60-6RT-300
2     121.26   22.0          3406  28.0  MM60-6RT-300
3     121.26   22.0          5975  28.6  MM60-6RT-300
4     121.26   22.0          6439  29.1  MM60-6RT-300
...      ...    ...           ...   ...           ...
2813  121.08  -95.0          1025  20.4  MM60-6RT-300
2814  121.08  -95.0          2517  21.9  MM60-6RT-300
2815  121.08  -95.0          4833  24.1  MM60-6RT-300
2816  121.08  -95.0          5589  23.8  MM60-6RT-300
2817  121.08  -95.0          5689  23.0  MM60-6RT-300

[2818 rows x 12 columns]
0
共有 0
25.03 120.52
0 nan
0
共有 0
25.03 120.48
0 nan
0
共有 0
25.03 120.47
0 nan
0
共有 0
24.04 121.26
0 nan
0
共有 0
24.04 120.44
0 nan
0
共有 0
24.04 120.5
0 nan
0
共有 0
24.04 121.03
0 nan
0
共有 0
24.04 121.08
0 nan
162
共有 0
24.04 120.52
162 50.98024691358023
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37    499.80  25.11
1        2   2020/6/10    40.0        2246       17.11    499.80  25.11
2        3   2020/6/11    40.0        1147       12.26    499.80  25.11
3        4   2020/6/12    40.0        2946       21.51    499.80  25.11
4        5   2020/6/13    40.0        3139       23.18    499.80  25.11
...    ...         ...     ...         ...         ...       ...    ...
2975  3528  2021/10/24    29.4        1352       10.72    498.56  24.04
2976  3537  2021/10/25    39.3        2420       19.95    498.56  24.04
2977  3555  2021/10/26    54.7        1914       17.00    498.56  24.04
2978  3566  2021/10/27    40.9        2394       19.79    498.56  24.04
2979  3580  2021/10/28    40.9        2285       18.73    498.56  24.04

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26  22.00          2325  26.3       MM60-6RT-300
1     121.26  22.00          4753  27.9       MM60-6RT-300
2     121.26  22.00          3406  28.0       MM60-6RT-300
3     121.26  22.00          5975  28.6       MM60-6RT-300
4     121.26  22.00          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
2975  120.52   2.21         74442  23.2  AUO PM060MW3 320W
2976  120.52   2.21        165708  24.7  AUO PM060MW3 320W
2977  120.52   2.21        111775  26.9  AUO PM060MW3 320W
2978  120.52   2.21        137838  25.4  AUO PM060MW3 320W
2979  120.52   2.21        131913  25.0  AUO PM060MW3 320W

[2980 rows x 12 columns]
0
共有 0
24.04 120.48
0 nan
0
共有 0
24.04 120.47
0 nan
0
共有 0
24.09 121.26
0 nan
0
共有 0
24.09 120.44
0 nan
0
共有 0
24.09 120.5
0 nan
0
共有 0
24.09 121.03
0 nan
0
共有 0
24.09 121.08
0 nan
158
共有 0
24.09 120.52
158 48.74556962025316
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37     499.8  25.11
1        2   2020/6/10    40.0        2246       17.11     499.8  25.11
2        3   2020/6/11    40.0        1147       12.26     499.8  25.11
3        4   2020/6/12    40.0        2946       21.51     499.8  25.11
4        5   2020/6/13    40.0        3139       23.18     499.8  25.11
...    ...         ...     ...         ...         ...       ...    ...
3133  3527  2021/10/24    29.1         649       10.72     278.4  24.09
3134  3542  2021/10/25    46.5        1092       19.95     278.4  24.09
3135  3551  2021/10/26    48.2         902       17.00     278.4  24.09
3136  3570  2021/10/27    49.8        1080       19.79     278.4  24.09
3137  3584  2021/10/28    49.9        1044       18.73     278.4  24.09

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26   22.0          2325  26.3       MM60-6RT-300
1     121.26   22.0          4753  27.9       MM60-6RT-300
2     121.26   22.0          3406  28.0       MM60-6RT-300
3     121.26   22.0          5975  28.6       MM60-6RT-300
4     121.26   22.0          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
3133  120.52    0.0         71708  23.2  AUO PM060MW3 320W
3134  120.52    0.0        130467  24.7  AUO PM060MW3 320W
3135  120.52    0.0        112375  26.9  AUO PM060MW3 320W
3136  120.52    0.0        257725  25.4  AUO PM060MW3 320W
3137  120.52    0.0        251792  25.0  AUO PM060MW3 320W

[3138 rows x 12 columns]
0
共有 0
24.09 120.48
0 nan
0
共有 0
24.09 120.47
0 nan
0
共有 0
24.07 121.26
0 nan
0
共有 0
24.07 120.44
0 nan
0
共有 0
24.07 120.5
0 nan
0
共有 0
24.07 121.03
0 nan
0
共有 0
24.07 121.08
0 nan
0
共有 0
24.07 120.52
0 nan
160
共有 0
24.07 120.48
160 49.01874999999998
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37    499.80  25.11
1        2   2020/6/10    40.0        2246       17.11    499.80  25.11
2        3   2020/6/11    40.0        1147       12.26    499.80  25.11
3        4   2020/6/12    40.0        2946       21.51    499.80  25.11
4        5   2020/6/13    40.0        3139       23.18    499.80  25.11
...    ...         ...     ...         ...         ...       ...    ...
3293  3525  2021/10/24    28.1         250       10.72     99.84  24.07
3294  3541  2021/10/25    45.2         476       19.95     99.84  24.07
3295  3556  2021/10/26    55.6         381       17.00     99.84  24.07
3296  3569  2021/10/27    48.9         468       19.79     99.84  24.07
3297  3583  2021/10/28    47.5         450       18.73     99.84  24.07

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26  22.00          2325  26.3       MM60-6RT-300
1     121.26  22.00          4753  27.9       MM60-6RT-300
2     121.26  22.00          3406  28.0       MM60-6RT-300
3     121.26  22.00          5975  28.6       MM60-6RT-300
4     121.26  22.00          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
3293  120.48  10.35        128850  23.2  AUO PM060MW3 320W
3294  120.48  10.35        264483  24.7  AUO PM060MW3 320W
3295  120.48  10.35        208033  26.9  AUO PM060MW3 320W
3296  120.48  10.35        262233  25.4  AUO PM060MW3 320W
3297  120.48  10.35        431817  25.0  AUO PM060MW3 320W

[3298 rows x 12 columns]
154
共有 0
24.07 120.47
154 44.65064935064933
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37     499.8  25.11
1        2   2020/6/10    40.0        2246       17.11     499.8  25.11
2        3   2020/6/11    40.0        1147       12.26     499.8  25.11
3        4   2020/6/12    40.0        2946       21.51     499.8  25.11
4        5   2020/6/13    40.0        3139       23.18     499.8  25.11
...    ...         ...     ...         ...         ...       ...    ...
3447  3522  2021/10/24    25.2         888       10.72     352.0  24.07
3448  3536  2021/10/25    33.1        1641       19.95     352.0  24.07
3449  3550  2021/10/26    40.4        1322       17.00     352.0  24.07
3450  3564  2021/10/27    34.7        1627       19.79     352.0  24.07
3451  3578  2021/10/28    35.2        1565       18.73     352.0  24.07

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26   22.0          2325  26.3       MM60-6RT-300
1     121.26   22.0          4753  27.9       MM60-6RT-300
2     121.26   22.0          3406  28.0       MM60-6RT-300
3     121.26   22.0          5975  28.6       MM60-6RT-300
4     121.26   22.0          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
3447  120.47    0.0         73758  23.2  AUO PM060MW3 320W
3448  120.47    0.0        145188  24.7  AUO PM060MW3 320W
3449  120.47    0.0        118017  26.9  AUO PM060MW3 320W
3450  120.47    0.0        144933  25.4  AUO PM060MW3 320W
3451  120.47    0.0        138650  25.0  AUO PM060MW3 320W

[3452 rows x 12 columns]
0
共有 0
24.06 121.26
0 nan
0
共有 0
24.06 120.44
0 nan
0
共有 0
24.06 120.5
0 nan
0
共有 0
24.06 121.03
0 nan
0
共有 0
24.06 121.08
0 nan
0
共有 0
24.06 120.52
0 nan
0
共有 0
24.06 120.48
0 nan
132
共有 0
24.06 120.47
132 43.29924242424242
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1    2020/6/9    40.0         630        8.37    499.80  25.11
1        2   2020/6/10    40.0        2246       17.11    499.80  25.11
2        3   2020/6/11    40.0        1147       12.26    499.80  25.11
3        4   2020/6/12    40.0        2946       21.51    499.80  25.11
4        5   2020/6/13    40.0        3139       23.18    499.80  25.11
...    ...         ...     ...         ...         ...       ...    ...
3579  3523  2021/10/24    25.5         817       10.72    314.88  24.06
3580  3538  2021/10/25    40.9        1522       19.95    314.88  24.06
3581  3552  2021/10/26    48.5        1210       17.00    314.88  24.06
3582  3565  2021/10/27    36.7        1498       19.79    314.88  24.06
3583  3579  2021/10/28    40.6        1444       18.73    314.88  24.06

         Lon  Angle  Irradiance_m  Temp             Module
0     121.26   22.0          2325  26.3       MM60-6RT-300
1     121.26   22.0          4753  27.9       MM60-6RT-300
2     121.26   22.0          3406  28.0       MM60-6RT-300
3     121.26   22.0          5975  28.6       MM60-6RT-300
4     121.26   22.0          6439  29.1       MM60-6RT-300
...      ...    ...           ...   ...                ...
3579  120.47    0.0         32213  23.2  AUO PM060MW3 320W
3580  120.47    0.0         66121  24.7  AUO PM060MW3 320W
3581  120.47    0.0         52008  26.9  AUO PM060MW3 320W
3582  120.47    0.0         65558  25.4  AUO PM060MW3 320W
3583  120.47    0.0        107954  25.0  AUO PM060MW3 320W

[3584 rows x 12 columns]
['MM60-6RT-300' 'AUO PM060MW3 320W' 'AUO PM060MW3 325W' 'SEC-6M-60A-295']
0 MM60-6RT-300
1 AUO PM060MW3 320W
2 AUO PM060MW3 325W
3 SEC-6M-60A-295

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
## 導入所需的套件
## 導入Python數據處理套件
import numpy as np
import pandas as pd
## 導入視覺化套件
import matplotlib.pyplot as plt
## 導入Sklearn套件
## 導入將數據集拆成訓練集與測試集的套件
from sklearn.model_selection import train_test_split
## 導入迴歸模型套件
from sklearn.linear_model import LinearRegression
## 導入多項式套件，建構多項式迴歸模型所需的套件
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline

X = pd.DataFrame(np.c_[copydata['Irradiance'], copydata['Capacity'],copydata['Irradiance_m'],copydata['Temp']], columns = ['Irradiance','Capacity','Irradiance_m','Temp'])
y = copydata['Generation']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
## 使用訓練集資料來訓練(擬和)迴歸模型
regressor = make_pipeline(PolynomialFeatures(3), LinearRegression())
regressor.fit(X_train, y_train)

Pipeline(steps=[('polynomialfeatures', PolynomialFeatures(degree=3)),
                ('linearregression', LinearRegression())])

In [ ]:
## 迴歸模型的準確度
score = regressor.score(X_test, y_test)
print('Score: ', score)
print('Accuracy: ' + str(score*100) + '%')

Score:  0.8817951993828105
Accuracy: 88.17951993828105%

In [ ]:
## 拿訓練好的迴歸模型預測測試集資料的目標值(依變數)
y_pred = regressor.predict(X_test)
print('Predict : ', y_pred)

Predict :  [ 485.48893049   42.55327557 2105.25970894 ... 1453.87582946  692.76376527
 1993.75666355]

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/mL/sun/test.csv")
test.head(10)

,ID,Date,Temp_m,Generation,Irradiance,Capacity,Lat,Lon,Angle,Irradiance_m,Temp,Module
0,1,2021/10/29,NaN,NaN,18.32,283.20,24.980,121.03,-31.00,5089,22.0,SEC-6M-60A-295
1,2,2021/10/29,NaN,NaN,8.72,499.80,25.110,121.26,22.00,2422,22.2,MM60-6RT-300
2,3,2021/10/29,NaN,NaN,8.72,438.30,25.110,121.26,-160.00,2422,22.2,MM60-6RT-300
3,4,2021/10/29,NaN,NaN,18.32,498.60,25.030,121.08,-95.00,5089,22.6,MM60-6RT-300
4,5,2021/10/29,38.7,NaN,17.10,492.80,24.107,120.44,4.63,121729,23.9,AUO PM060MW3 320W
5,6,2021/10/29,38.7,NaN,17.10,246.40,24.107,120.44,4.63,243358,23.9,AUO PM060MW3 320W
6,7,2021/10/29,30.0,NaN,17.10,267.52,24.080,120.52,-2.13,218692,24.2,AUO PM060MW3 320W
7,8,2021/10/29,35.8,NaN,17.10,352.00,24.070,120.47,0.00,128729,24.2,AUO PM060MW3 320W
8,9,2021/10/29,40.9,NaN,17.10,314.88,24.060,120.47,0.00,117954,24.2,AUO PM060MW3 320W
9,10,2021/10/29,45.8,NaN,17.10,343.20,24.080,120.52,-2.62,112363,24.2,AUO PM060MW3 325W

In [ ]:
#check isnull

lt=test['Lat'].unique()
ln=test['Lon'].unique()
print(lt)
print(ln)
copytest = test.copy()
copytest.drop(copytest.index,inplace=True)
from numpy.ma.core import count
import time
for i in lt:
  for k in ln:
    codition1=((test['Lat']==i))
    codition2=((test['Lon']==k))
    data2=test[(codition1) & (codition2)]
    n=list(data2.shape)
    print(n[0])
    print("共有",sum(data2['Temp_m'].isnull()))
    

    print(i,k)
    # print(data1.describe())
    s=data2['Temp_m'].count()
    a=data2['Temp_m'].mean()
    print(s,a)


    if(n[0]==0):
      continue
    if(s==0):
      data2['Temp_m'].fillna(value=40, inplace=True)
    else:
      data2['Temp_m'].fillna(data2['Temp_m'].mean(),inplace=True)

    copytest = pd.concat([copytest, data2], ignore_index=True)
    print("合併df來新增資料")
    print(copytest)
    
s=copytest['Module'].unique()

print(s)

for index,n in enumerate(s):
  print(index,n)
  copytest['Module'].replace(n,index,inplace=True)

copytest['Temp'].fillna(method='ffill',inplace=True)

test['Temp_m']= copytest['Temp_m']
test['Module']= copytest['Module']
test['Temp']= copytest['Temp']

[24.98  25.11  25.03  24.107 24.08  24.07  24.06  24.04  24.09 ]
[121.03 121.26 121.08 120.44 120.52 120.47 120.5  120.48]
112
共有 112
24.98 121.03
0 nan
合併df來新增資料
       ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0       1  2021/10/29    40.0         NaN       18.32     283.2  24.98
1      17  2021/10/30    40.0         NaN        7.15     283.2  24.98
2      29  2021/10/31    40.0         NaN       16.82     283.2  24.98
3      45   2021/11/1    40.0         NaN       11.85     283.2  24.98
4      59   2021/11/2    40.0         NaN        7.86     283.2  24.98
..    ...         ...     ...         ...         ...       ...    ...
107  1481   2022/2/13    40.0         NaN        4.61     283.2  24.98
108  1494   2022/2/14    40.0         NaN        5.37     283.2  24.98
109  1516   2022/2/15    40.0         NaN        6.23     283.2  24.98
110  1522   2022/2/16    40.0         NaN       12.71     283.2  24.98
111  1538   2022/2/17    40.0         NaN        6.98     283.2  24.98

        Lon  Angle  Irradiance_m  Temp          Module
0    121.03  -31.0          5089  22.0  SEC-6M-60A-295
1    121.03  -31.0          1986  21.9  SEC-6M-60A-295
2    121.03  -31.0          4672  22.7  SEC-6M-60A-295
3    121.03  -31.0          3292  23.0  SEC-6M-60A-295
4    121.03  -31.0          2183  22.6  SEC-6M-60A-295
..      ...    ...           ...   ...             ...
107  121.03  -31.0          1281  16.6  SEC-6M-60A-295
108  121.03  -31.0          1492  13.8  SEC-6M-60A-295
109  121.03  -31.0          1731  16.0  SEC-6M-60A-295
110  121.03  -31.0          3531  16.6  SEC-6M-60A-295
111  121.03  -31.0          1939  15.9  SEC-6M-60A-295

[112 rows x 12 columns]
0
共有 0
24.98 121.26
0 nan
0
共有 0
24.98 121.08
0 nan
0
共有 0
24.98 120.44
0 nan
0
共有 0
24.98 120.52
0 nan
0
共有 0
24.98 120.47
0 nan
0
共有 0
24.98 120.5
0 nan
0
共有 0
24.98 120.48
0 nan
0
共有 0
25.11 121.03
0 nan
224
共有 224
25.11 121.26
0 nan
合併df來新增資料
       ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0       1  2021/10/29    40.0         NaN       18.32     283.2  24.98
1      17  2021/10/30    40.0         NaN        7.15     283.2  24.98
2      29  2021/10/31    40.0         NaN       16.82     283.2  24.98
3      45   2021/11/1    40.0         NaN       11.85     283.2  24.98
4      59   2021/11/2    40.0         NaN        7.86     283.2  24.98
..    ...         ...     ...         ...         ...       ...    ...
331  1520   2022/2/15    40.0         NaN        5.58     438.3  25.11
332  1523   2022/2/16    40.0         NaN       10.55     499.8  25.11
333  1524   2022/2/16    40.0         NaN       10.55     438.3  25.11
334  1536   2022/2/17    40.0         NaN        6.47     499.8  25.11
335  1537   2022/2/17    40.0         NaN        6.47     438.3  25.11

        Lon  Angle  Irradiance_m  Temp          Module
0    121.03  -31.0          5089  22.0  SEC-6M-60A-295
1    121.03  -31.0          1986  21.9  SEC-6M-60A-295
2    121.03  -31.0          4672  22.7  SEC-6M-60A-295
3    121.03  -31.0          3292  23.0  SEC-6M-60A-295
4    121.03  -31.0          2183  22.6  SEC-6M-60A-295
..      ...    ...           ...   ...             ...
331  121.26 -160.0          1550  16.2    MM60-6RT-300
332  121.26   22.0          2931  16.7    MM60-6RT-300
333  121.26 -160.0          2931  16.7    MM60-6RT-300
334  121.26   22.0          1797  15.8    MM60-6RT-300
335  121.26 -160.0          1797  15.8    MM60-6RT-300

[336 rows x 12 columns]
0
共有 0
25.11 121.08
0 nan
0
共有 0
25.11 120.44
0 nan
0
共有 0
25.11 120.52
0 nan
0
共有 0
25.11 120.47
0 nan
0
共有 0
25.11 120.5
0 nan
0
共有 0
25.11 120.48
0 nan
0
共有 0
25.03 121.03
0 nan
0
共有 0
25.03 121.26
0 nan
104
共有 104
25.03 121.08
0 nan
合併df來新增資料
       ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0       1  2021/10/29    40.0         NaN       18.32     283.2  24.98
1      17  2021/10/30    40.0         NaN        7.15     283.2  24.98
2      29  2021/10/31    40.0         NaN       16.82     283.2  24.98
3      45   2021/11/1    40.0         NaN       11.85     283.2  24.98
4      59   2021/11/2    40.0         NaN        7.86     283.2  24.98
..    ...         ...     ...         ...         ...       ...    ...
435  1379    2022/2/5    40.0         NaN        5.49     498.6  25.03
436  1497   2022/2/14    40.0         NaN        5.37     498.6  25.03
437  1521   2022/2/15    40.0         NaN        6.23     498.6  25.03
438  1525   2022/2/16    40.0         NaN       12.71     498.6  25.03
439  1539   2022/2/17    40.0         NaN        6.98     498.6  25.03

        Lon  Angle  Irradiance_m  Temp          Module
0    121.03  -31.0          5089  22.0  SEC-6M-60A-295
1    121.03  -31.0          1986  21.9  SEC-6M-60A-295
2    121.03  -31.0          4672  22.7  SEC-6M-60A-295
3    121.03  -31.0          3292  23.0  SEC-6M-60A-295
4    121.03  -31.0          2183  22.6  SEC-6M-60A-295
..      ...    ...           ...   ...             ...
435  121.08  -95.0          1525  13.9    MM60-6RT-300
436  121.08  -95.0          1492  14.3    MM60-6RT-300
437  121.08  -95.0          1731  16.4    MM60-6RT-300
438  121.08  -95.0          3531  16.8    MM60-6RT-300
439  121.08  -95.0          1939  16.1    MM60-6RT-300

[440 rows x 12 columns]
0
共有 0
25.03 120.44
0 nan
0
共有 0
25.03 120.52
0 nan
0
共有 0
25.03 120.47
0 nan
0
共有 0
25.03 120.5
0 nan
0
共有 0
25.03 120.48
0 nan
0
共有 0
24.107 121.03
0 nan
0
共有 0
24.107 121.26
0 nan
0
共有 0
24.107 121.08
0 nan
214
共有 0
24.107 120.44
214 30.524299065420568
合併df來新增資料
       ID        Date  Temp_m  Generation  Irradiance  Capacity     Lat  \
0       1  2021/10/29    40.0         NaN       18.32     283.2  24.980
1      17  2021/10/30    40.0         NaN        7.15     283.2  24.980
2      29  2021/10/31    40.0         NaN       16.82     283.2  24.980
3      45   2021/11/1    40.0         NaN       11.85     283.2  24.980
4      59   2021/11/2    40.0         NaN        7.86     283.2  24.980
..    ...         ...     ...         ...         ...       ...     ...
649  1507   2022/2/14    18.5         NaN        9.01     246.4  24.107
650  1517   2022/2/15    27.9         NaN       15.30     492.8  24.107
651  1518   2022/2/15    29.3         NaN       15.30     246.4  24.107
652  1529   2022/2/16    29.7         NaN       20.16     492.8  24.107
653  1530   2022/2/16    29.7         NaN       20.16     246.4  24.107

        Lon  Angle  Irradiance_m  Temp             Module
0    121.03 -31.00          5089  22.0     SEC-6M-60A-295
1    121.03 -31.00          1986  21.9     SEC-6M-60A-295
2    121.03 -31.00          4672  22.7     SEC-6M-60A-295
3    121.03 -31.00          3292  23.0     SEC-6M-60A-295
4    121.03 -31.00          2183  22.6     SEC-6M-60A-295
..      ...    ...           ...   ...                ...
649  120.44   4.63         60467  15.2  AUO PM060MW3 320W
650  120.44   4.63        100413  16.1  AUO PM060MW3 320W
651  120.44   4.63        100767  16.1  AUO PM060MW3 320W
652  120.44   4.63        132100  17.2  AUO PM060MW3 320W
653  120.44   4.63        132183  17.2  AUO PM060MW3 320W

[654 rows x 12 columns]
0
共有 0
24.107 120.52
0 nan
0
共有 0
24.107 120.47
0 nan
0
共有 0
24.107 120.5
0 nan
0
共有 0
24.107 120.48
0 nan
0
共有 0
24.08 121.03
0 nan
0
共有 0
24.08 121.26
0 nan
0
共有 0
24.08 121.08
0 nan
0
共有 0
24.08 120.44
0 nan
222
共有 0
24.08 120.52
222 29.86621621621621
合併df來新增資料
       ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0       1  2021/10/29    40.0         NaN       18.32    283.20  24.98
1      17  2021/10/30    40.0         NaN        7.15    283.20  24.98
2      29  2021/10/31    40.0         NaN       16.82    283.20  24.98
3      45   2021/11/1    40.0         NaN       11.85    283.20  24.98
4      59   2021/11/2    40.0         NaN        7.86    283.20  24.98
..    ...         ...     ...         ...         ...       ...    ...
871  1505   2022/2/14    18.6         NaN        9.01    343.20  24.08
872  1508   2022/2/15    22.3         NaN       15.30    267.52  24.08
873  1513   2022/2/15    37.9         NaN       15.30    343.20  24.08
874  1526   2022/2/16    22.4         NaN       20.16    267.52  24.08
875  1535   2022/2/16    35.3         NaN       20.16    343.20  24.08

        Lon  Angle  Irradiance_m  Temp             Module
0    121.03 -31.00          5089  22.0     SEC-6M-60A-295
1    121.03 -31.00          1986  21.9     SEC-6M-60A-295
2    121.03 -31.00          4672  22.7     SEC-6M-60A-295
3    121.03 -31.00          3292  23.0     SEC-6M-60A-295
4    121.03 -31.00          2183  22.6     SEC-6M-60A-295
..      ...    ...           ...   ...                ...
871  120.52  -2.62         56696  14.7  AUO PM060MW3 325W
872  120.52  -2.13        195000  15.9  AUO PM060MW3 320W
873  120.52  -2.62         97450  15.9  AUO PM060MW3 325W
874  120.52  -2.13        243667  17.2  AUO PM060MW3 320W
875  120.52  -2.62        126196  17.2  AUO PM060MW3 325W

[876 rows x 12 columns]
0
共有 0
24.08 120.47
0 nan
111
共有 0
24.08 120.5
111 33.019819819819816
合併df來新增資料

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

       ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0       1  2021/10/29    40.0         NaN       18.32     283.2  24.98
1      17  2021/10/30    40.0         NaN        7.15     283.2  24.98
2      29  2021/10/31    40.0         NaN       16.82     283.2  24.98
3      45   2021/11/1    40.0         NaN       11.85     283.2  24.98
4      59   2021/11/2    40.0         NaN        7.86     283.2  24.98
..    ...         ...     ...         ...         ...       ...    ...
982  1475   2022/2/12    28.3         NaN       17.42      99.2  24.08
983  1490   2022/2/13    30.9         NaN       11.87      99.2  24.08
984  1501   2022/2/14    15.5         NaN        9.01      99.2  24.08
985  1512   2022/2/15    34.6         NaN       15.30      99.2  24.08
986  1532   2022/2/16    31.1         NaN       20.16      99.2  24.08

        Lon  Angle  Irradiance_m  Temp             Module
0    121.03 -31.00          5089  22.0     SEC-6M-60A-295
1    121.03 -31.00          1986  21.9     SEC-6M-60A-295
2    121.03 -31.00          4672  22.7     SEC-6M-60A-295
3    121.03 -31.00          3292  23.0     SEC-6M-60A-295
4    121.03 -31.00          2183  22.6     SEC-6M-60A-295
..      ...    ...           ...   ...                ...
982  120.50   1.76        137233  17.2  AUO PM060MW3 320W
983  120.50   1.76        289283  17.4  AUO PM060MW3 320W
984  120.50   1.76        237400  14.7  AUO PM060MW3 320W
985  120.50   1.76        401650  15.9  AUO PM060MW3 320W
986  120.50   1.76        528400  17.2  AUO PM060MW3 320W

[987 rows x 12 columns]
0
共有 0
24.08 120.48
0 nan
0
共有 0
24.07 121.03
0 nan
0
共有 0
24.07 121.26
0 nan
0
共有 0
24.07 121.08
0 nan
0
共有 0
24.07 120.44
0 nan
0
共有 0
24.07 120.52
0 nan
111
共有 0
24.07 120.47
111 27.262162162162163
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1  2021/10/29    40.0         NaN       18.32     283.2  24.98
1       17  2021/10/30    40.0         NaN        7.15     283.2  24.98
2       29  2021/10/31    40.0         NaN       16.82     283.2  24.98
3       45   2021/11/1    40.0         NaN       11.85     283.2  24.98
4       59   2021/11/2    40.0         NaN        7.86     283.2  24.98
...    ...         ...     ...         ...         ...       ...    ...
1093  1471   2022/2/12    21.7         NaN       17.42     352.0  24.07
1094  1487   2022/2/13    25.1         NaN       11.87     352.0  24.07
1095  1502   2022/2/14    16.6         NaN        9.01     352.0  24.07
1096  1509   2022/2/15    25.9         NaN       15.30     352.0  24.07
1097  1527   2022/2/16    25.0         NaN       20.16     352.0  24.07

         Lon  Angle  Irradiance_m  Temp             Module
0     121.03  -31.0          5089  22.0     SEC-6M-60A-295
1     121.03  -31.0          1986  21.9     SEC-6M-60A-295
2     121.03  -31.0          4672  22.7     SEC-6M-60A-295
3     121.03  -31.0          3292  23.0     SEC-6M-60A-295
4     121.03  -31.0          2183  22.6     SEC-6M-60A-295
...      ...    ...           ...   ...                ...
1093  120.47    0.0         41721  17.2  AUO PM060MW3 320W
1094  120.47    0.0         77992  17.4  AUO PM060MW3 320W
1095  120.47    0.0         67708  14.7  AUO PM060MW3 320W
1096  120.47    0.0        107933  15.9  AUO PM060MW3 320W
1097  120.47    0.0        135471  17.2  AUO PM060MW3 320W

[1098 rows x 12 columns]
0
共有 0
24.07 120.5
0 nan
111
共有 0
24.07 120.48
111 35.84054054054055
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1  2021/10/29    40.0         NaN       18.32    283.20  24.98
1       17  2021/10/30    40.0         NaN        7.15    283.20  24.98
2       29  2021/10/31    40.0         NaN       16.82    283.20  24.98
3       45   2021/11/1    40.0         NaN       11.85    283.20  24.98
4       59   2021/11/2    40.0         NaN        7.86    283.20  24.98
...    ...         ...     ...         ...         ...       ...    ...
1204  1474   2022/2/12    26.7         NaN       17.42     99.84  24.07
1205  1492   2022/2/13    33.3         NaN       11.87     99.84  24.07
1206  1504   2022/2/14    17.8         NaN        9.01     99.84  24.07
1207  1514   2022/2/15    38.9         NaN       15.30     99.84  24.07
1208  1533   2022/2/16    33.8         NaN       20.16     99.84  24.07

         Lon  Angle  Irradiance_m  Temp             Module
0     121.03 -31.00          5089  22.0     SEC-6M-60A-295
1     121.03 -31.00          1986  21.9     SEC-6M-60A-295
2     121.03 -31.00          4672  22.7     SEC-6M-60A-295
3     121.03 -31.00          3292  23.0     SEC-6M-60A-295
4     121.03 -31.00          2183  22.6     SEC-6M-60A-295
...      ...    ...           ...   ...                ...
1204  120.48  10.35        167433  17.2  AUO PM060MW3 320W
1205  120.48  10.35        310167  17.4  AUO PM060MW3 320W
1206  120.48  10.35        248683  14.7  AUO PM060MW3 320W
1207  120.48  10.35        410517  15.9  AUO PM060MW3 320W
1208  120.48  10.35        492533  17.2  AUO PM060MW3 320W

[1209 rows x 12 columns]
0
共有 0
24.06 121.03
0 nan
0
共有 0
24.06 121.26
0 nan
0
共有 0
24.06 121.08
0 nan
0
共有 0
24.06 120.44
0 nan
0
共有 0
24.06 120.52
0 nan
110
共有 0
24.06 120.47
110 29.48363636363636
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1  2021/10/29    40.0         NaN       18.32    283.20  24.98
1       17  2021/10/30    40.0         NaN        7.15    283.20  24.98
2       29  2021/10/31    40.0         NaN       16.82    283.20  24.98
3       45   2021/11/1    40.0         NaN       11.85    283.20  24.98
4       59   2021/11/2    40.0         NaN        7.86    283.20  24.98
...    ...         ...     ...         ...         ...       ...    ...
1314  1473   2022/2/12    23.1         NaN       17.42    314.88  24.06
1315  1488   2022/2/13    25.9         NaN       11.87    314.88  24.06
1316  1500   2022/2/14    15.2         NaN        9.01    314.88  24.06
1317  1510   2022/2/15    26.9         NaN       15.30    314.88  24.06
1318  1528   2022/2/16    26.8         NaN       20.16    314.88  24.06

         Lon  Angle  Irradiance_m  Temp             Module
0     121.03  -31.0          5089  22.0     SEC-6M-60A-295
1     121.03  -31.0          1986  21.9     SEC-6M-60A-295
2     121.03  -31.0          4672  22.7     SEC-6M-60A-295
3     121.03  -31.0          3292  23.0     SEC-6M-60A-295
4     121.03  -31.0          2183  22.6     SEC-6M-60A-295
...      ...    ...           ...   ...                ...
1314  120.47    0.0         41858  17.2  AUO PM060MW3 320W
1315  120.47    0.0         77542  17.4  AUO PM060MW3 320W
1316  120.47    0.0         62171  14.7  AUO PM060MW3 320W
1317  120.47    0.0        102629  15.9  AUO PM060MW3 320W
1318  120.47    0.0        123133  17.2  AUO PM060MW3 320W

[1319 rows x 12 columns]
0
共有 0
24.06 120.5
0 nan
0
共有 0
24.06 120.48
0 nan
0
共有 0
24.04 121.03
0 nan
0
共有 0
24.04 121.26
0 nan
0
共有 0
24.04 121.08
0 nan
0
共有 0
24.04 120.44
0 nan
109
共有 0
24.04 120.52
109 33.196330275229364
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1  2021/10/29    40.0         NaN       18.32    283.20  24.98
1       17  2021/10/30    40.0         NaN        7.15    283.20  24.98
2       29  2021/10/31    40.0         NaN       16.82    283.20  24.98
3       45   2021/11/1    40.0         NaN       11.85    283.20  24.98
4       59   2021/11/2    40.0         NaN        7.86    283.20  24.98
...    ...         ...     ...         ...         ...       ...    ...
1423  1476   2022/2/12    30.5         NaN       17.42    498.56  24.04
1424  1489   2022/2/13    28.4         NaN       11.87    498.56  24.04
1425  1499   2022/2/14    15.2         NaN        9.01    498.56  24.04
1426  1511   2022/2/15    30.0         NaN       15.30    498.56  24.04
1427  1531   2022/2/16    29.9         NaN       20.16    498.56  24.04

         Lon  Angle  Irradiance_m  Temp             Module
0     121.03 -31.00          5089  22.0     SEC-6M-60A-295
1     121.03 -31.00          1986  21.9     SEC-6M-60A-295
2     121.03 -31.00          4672  22.7     SEC-6M-60A-295
3     121.03 -31.00          3292  23.0     SEC-6M-60A-295
4     121.03 -31.00          2183  22.6     SEC-6M-60A-295
...      ...    ...           ...   ...                ...
1423  120.52   2.21         17121  17.2  AUO PM060MW3 320W
1424  120.52   2.21         36150  17.4  AUO PM060MW3 320W
1425  120.52   2.21         30233  14.7  AUO PM060MW3 320W
1426  120.52   2.21         50383  15.9  AUO PM060MW3 320W
1427  120.52   2.21         66092  17.2  AUO PM060MW3 320W

[1428 rows x 12 columns]
0
共有 0
24.04 120.47
0 nan
0
共有 0
24.04 120.5
0 nan
0
共有 0
24.04 120.48
0 nan
0
共有 0
24.09 121.03
0 nan
0
共有 0
24.09 121.26
0 nan
0
共有 0
24.09 121.08
0 nan
0
共有 0
24.09 120.44
0 nan
111
共有 0
24.09 120.52
111 37.45765765765765
合併df來新增資料
        ID        Date  Temp_m  Generation  Irradiance  Capacity    Lat  \
0        1  2021/10/29    40.0         NaN       18.32     283.2  24.98
1       17  2021/10/30    40.0         NaN        7.15     283.2  24.98
2       29  2021/10/31    40.0         NaN       16.82     283.2  24.98
3       45   2021/11/1    40.0         NaN       11.85     283.2  24.98
4       59   2021/11/2    40.0         NaN        7.86     283.2  24.98
...    ...         ...     ...         ...         ...       ...    ...
1534  1478   2022/2/12    34.5         NaN       17.42     278.4  24.09
1535  1491   2022/2/13    32.8         NaN       11.87     278.4  24.09
1536  1503   2022/2/14    16.7         NaN        9.01     278.4  24.09
1537  1515   2022/2/15    41.1         NaN       15.30     278.4  24.09
1538  1534   2022/2/16    33.9         NaN       20.16     278.4  24.09

         Lon  Angle  Irradiance_m  Temp             Module
0     121.03  -31.0          5089  22.0     SEC-6M-60A-295
1     121.03  -31.0          1986  21.9     SEC-6M-60A-295
2     121.03  -31.0          4672  22.7     SEC-6M-60A-295
3     121.03  -31.0          3292  23.0     SEC-6M-60A-295
4     121.03  -31.0          2183  22.6     SEC-6M-60A-295
...      ...    ...           ...   ...                ...
1534  120.52    0.0        140992  17.2  AUO PM060MW3 320W
1535  120.52    0.0        143317  17.4  AUO PM060MW3 320W
1536  120.52    0.0        128642  14.7  AUO PM060MW3 320W
1537  120.52    0.0        199325  15.9  AUO PM060MW3 320W
1538  120.52    0.0        252983  17.2  AUO PM060MW3 320W

[1539 rows x 12 columns]
0
共有 0
24.09 120.47
0 nan
0
共有 0
24.09 120.5
0 nan
0
共有 0
24.09 120.48
0 nan
['SEC-6M-60A-295' 'MM60-6RT-300' 'AUO PM060MW3 320W' 'AUO PM060MW3 325W']
0 SEC-6M-60A-295
1 MM60-6RT-300
2 AUO PM060MW3 320W
3 AUO PM060MW3 325W

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
test.isnull().sum()

ID                 0
Date               0
Temp_m             0
Generation      1539
Irradiance         0
Capacity           0
Lat                0
Lon                0
Angle              0
Irradiance_m       0
Temp               0
Module             0
dtype: int64

In [ ]:
sub = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/mL/sun/submission.csv")

In [ ]:
ts = pd.DataFrame(np.c_[test['Irradiance'], test['Capacity'],test['Irradiance_m'],test['Temp'],test['Temp_m']], columns = ['Irradiance','Capacity','Irradiance_m','Temp','Temp_m'])

test['Generation']=regressor.predict(ts)

In [ ]:
sub['Generation']=test['Generation']

In [ ]:
sub.to_csv("submission.csv",encoding="utf-8-sig", index = False)

In [ ]:
sub.isnull().sum()

ID            0
Generation    0
dtype: int64

In [ ]:
sub

        ID   Generation
0        1  1129.093566
1        2  1047.316353
2        3   894.254978
3        4  1969.958941
4        5  2036.003677
...    ...          ...
1534  1535  1415.455572
1535  1536   714.168492
1536  1537   387.147750
1537  1538   429.711590
1538  1539   770.837213

[1539 rows x 2 columns]